<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>CAPSTONE - Your Travel Journal App</title>
  <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
  <script src="https://kit.fontawesome.com/213ffc1bde.js" crossorigin="anonymous"></script>
</head>

<body id="app">
  <div>
    <header id="header">
      <div class="container headline">
        <h1>Weather Journal App</h1>
      </div>
    </header>
    <main id="main">
      <section id="form">
        <div class="container date">
          <label for="arrival-date">Enter your date of arrival</label>
          <input type="date" id="arrival-date" required>
        </div>
        <div class="container date">
          <label for="return-date">Enter your date of return</label>
          <input type="date" id="return-date">
        </div>
        <div class="container zip">
          <label for="location">Enter the location of your destination</label>
          <input type="text" id="location" placeholder="For e.g. London England" required>
        </div>
        <div class="container submit">
          <div id="response"></div>
          <button id="generate" type="submit"> Generate </button>
        </div>
      </section>
      <section class="container" id='entry'>
        <div class="entry">
          <h2 class="title">Travel Entries</h2>
          <div class="container" id='entryHolder'>
            <div id="tab">
            </div>
          </div>
        </div>
      </section>

    </main>
    <footer id="footer">
      <p>Developed and designed by <a href="https://www.brightreachstudio.co.uk" id=brightReach>Bright Reach Studio</a>.
      </p>
    </footer>
  </div>

  <script> // Check that service workers are supported
    if ('serviceWorker' in navigator) {
      // Use the window load event to keep the page load performant
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/service-worker.js');
      });
    }</script>
</body>

</html>