@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@600');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #fffef9;
  color: #323232;
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Baloo Bhaina 2', cursive;
}
h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 26px;
}

b {
  font-weight: 700;
}

u {
  text-decoration: underline solid inherit;
}

em {
  font-style: italic;
}

q {
  display: inline;
}

main {
  flex: 2;
}

section {
  max-width: 800px;
  margin: 50px auto;
}
