#form {
  border: 1px solid #545454;
  border-radius: 3px;
  padding: 40px;
}

input {
  padding: 5px 20px;
  line-height: 16px;
  margin: 10px 0;
  height: 60px;
  width: 320px;
  background: #22b2da;
  color: #f0d43a;
  font-size: 20px;
  border: none;
  transition: 0.5s;
  &:hover {
    box-shadow: inset #51019a 0px 0px 6px 7px;
  }
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
/* Style for Placeholder Text*/
::placeholder {
  /* Firefox, Chrome, Opera */
  color: #f0d43a;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #f0d43a;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #f0d43a;
}
